# BEGIN passenger config
PassengerEnabled on
PassengerAppEnv production
PassengerNode /opt/alt/alt-nodejs22/root/usr/bin/node
PassengerAppRoot /home/u320819004/domains/urbanbullet.in/public_html
PassengerStartupFile app.js
PassengerAppType node
# END passenger config

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Send all requests to the Passenger handler (app.js)
    RewriteRule ^app\.js$ - [L]
    
    # Rewrite the root URL to app.js
    RewriteRule ^$ app.js/ [L]
    
    # Rewrite other non-file, non-directory requests to app.js
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ app.js/$1 [QSA,L]
</IfModule>
